<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta name="description" content="a personal blog where I write and publish articles">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My blog</title>
</head>
<body class="font-sans">
<h1 class="mt-4 text-center text-4xl font-bold">Create Article</h1>

<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}" class="text-red-500"></p>
</div>

<form th:action="@{/admin/article/create}" method="POST" th:object="${article}" enctype="multipart/form-data"
      class="mt-8 mx-6 p-6 flex flex-col gap-4 border bg-slate-200 rounded-md shadow-md border-slate-500 outline-none
    md:m-0 md:max-w-lg md:ml-8 md:mt-8 md:border md:py-4
    ">



    <fieldset class="flex flex-col gap-1 ">
        <label for="title" class="text-xl font-semibold">Title</label>
        <input type="text" id="title" name="title" required
               class="block p-1 rounded-md shadow-md focus:border-slate-500 focus:ring-slate-500 focus:ring-2 focus:outline-none text-lg
            md:text-base"
        >
    </fieldset>

    <fieldset class="flex flex-col gap-1 ">
        <label for="summary" class="text-xl font-semibold">Summary:</label>
        <textarea id="summary" name="summary"  required
                  class="p-1 h-36 rounded-md shadow-md focus:border-slate-500 focus:ring-slate-500 focus:ring-2 focus:outline-none text-lg resize-none
            md:h-28 md:text-base"
        ></textarea>

    </fieldset>

    <fieldset class="flex flex-col gap-1  ">
        <label for="content" class="text-xl font-semibold">Content:</label>
        <textarea id="content" name="content" required
                  class="p-1 h-80 rounded-md shadow-md focus:border-slate-500 focus:ring-slate-500 focus:ring-2 focus:outline-none text-lg resize-none
            md:h-48 md:text-base"
        ></textarea>
    </fieldset>

    <fieldset class="flex flex-col gap-1  ">
        <label for="image" class="text-xl font-semibold">Update image:</label>
        <input type="file" id="image" name="articleImage"/>

    </fieldset>


    <button type="submit" class=" mt-4 py-2 w-2/4 mx-auto
        text-xl bg-slate-900 rounded-md font-semibold text-slate-200 font-semibold
        hover:bg-slate-800 active:bg-slate-700 active:text-white"
    >Update Article</button>

</form>

<section class="mt-4 p-2 flex justify-center">
    <a th:href="@{/admin}" class="cursor-pointer px-2 py-1
        text-md bg-slate-900 rounded-md font-semibold text-slate-200 font-semibold text-center
        hover:bg-slate-800 active:bg-slate-700 active:text-white"
    >Return to home page</a>

</section>
</body>
</html>